@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@font-face {
  font-family: font-geist;
  src: url(./assets/Fonts/Geist-Regular.woff2);
}
.font-geist {
  font-family: font-geist;
}
.font-quicksand {
  font-family: "Quicksand", sans-serif;
}
